.post_main_container
{
    left: 30%;
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.post_small_box
{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: left;
    width: auto;
    height: auto;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.text_in_right_down_corner
{
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.post_small_box_title
{
    position: absolute;
    left: 5%;
}

.post_small_box_author
{
    text-decoration: none;
    position: absolute;
    left: 50%;
}
.post_small_box_category
{
    position: absolute;
    left: 70%;
}

.category_container
{
    float: left;
    position: relative;
    left: auto;
    width: 20%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.49);
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.category_small_box
{
    text-decoration: none;
    background-color: #fbfafa;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: left;
    width: auto;
    height: auto;
    min-height: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.category_small_box:hover
{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.category_small_box.selected
{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top_users_info_container
{
    float: right;
    position: relative;
    right: auto;
    width: 25%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.49);
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.top_users_info
{
    text-decoration: none;
    padding: 20px;
    margin: 10px;
    text-align: left;
    width: auto;
    height: auto;
    min-height: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.post_big_box
{
    position: relative;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: justify;
    min-height: 400px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.post_big_box_title
{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.post_big_box_description
{
    margin-top: 5%;
    margin-bottom: 5%;
}

.post_big_box_author
{
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.create_comment_box
{
    position: relative;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: justify;
    min-height: 100px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.comment_box
{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: left;
    width: auto;
    height: auto;
    min-height: 80px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.comment_box_author
{
    position: absolute;
    right: 5%;
}

.comment_box_text
{
    position: absolute;
    left: 5%;
}

.images_for_post{
    max-width: 70%;
    height: auto;
    margin: 15px;
    object-fit: contain;
    transition: filter 0.3s ease-in-out;
}

.images_for_post:hover{
    filter: brightness(0.8);
}

.like_button{
    background-color: rgba(196, 30, 30, 0.71);
    border-radius: 5px;
    color: white;
    border: 0px;
    text-align: center;
    width: 80px;
    height: 40px;
    position: absolute;
    right: 10%;
    bottom: 5%;
}

.like_button:hover{
    background-color: #0e7c0e;
}

.like_button.liked {
    background-color: black;
    color: white;
}

.likes_of_post{
    position: absolute;
    right: 7%;
    bottom: 4%;
}


.user_public_information
{
    float: left;
    position: relative;
    left: auto;
    width: 30%;
    height: 90%;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.user_public_page_icon_container {
    height: 25vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.user_public_page_icon
{
    border-radius: 5px;
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.user_public_page_info
{
    height: auto;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.user_public_posts_container
{
    float: right;
    height: 80vh;
    width: 68%;
    text-align: center;
}

.user_post_small_box
{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: left;
    width: auto;
    height: auto;
    min-height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.user_next_page_container
{
    clear: both;
    float: left;
    width: 30%;
    position: relative;
    text-align: center;
}
